@keyframes blinkCursor {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.cursor {
  animation: blinkCursor 1s step-start infinite;
  width: 8px;
  margin-left: 8px;
  height: 120px;
  background-color: #7b58f6;
  display: inline-block;
  margin-bottom: -10px;
  border-radius: 9999px;
}

button {
  color: var(--white);
  cursor: pointer;

  overflow: hidden;
  position: relative;

  width: fit-content;
  display: flex;
  gap: 20px;
  background-size: 100%;

  border: none;

  background-image: var(--purpleGr);
  background-position: center;
  border-radius: var(--roundCorners8px);

  transition: 1s background-position;

  justify-content: center;
  align-items: center;
  padding: 14px 35px 14px 40px;

  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  font-family: "Manrope";

  box-shadow: 0px 8px 22px 0px rgba(94, 58, 221, 0.25);

  transition: 0.2s ease-in-out;

  &:hover {
    transform: scale(0.97);
    box-shadow: 0px 12px 40px 0px rgba(94, 58, 221, 0.5);
    background-size: 200%;
    background-position: right;
  }

  &::before {
    background-image: var(--purpleGrBack);
    transition: 0.2s;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    content: "";
    z-index: 1;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    content: "";
    z-index: 1;
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.5);
    box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.5);
  }
}

button.white,
a.button.white {
  background: var(--white);
  color: #7b63ff;
}

nav {
  z-index: 9999999999;
  overflow: hidden;
  height: 62px;
  position: fixed;
  top: 22px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 990px;
  display: flex;
  align-items: center;
  background: var(--backgroundBlurColor);
  backdrop-filter: blur(6px);
  border: var(--stroke1px);
  border-radius: var(--roundCorners16px);

  ul {
    z-index: 10;
    width: 100%;
    max-width: 976px;
    display: flex;
    justify-content: center;

    li {
      position: relative;
    }

    /* a:visited {
      all: unset;
    } */

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 6px 20px;
      color: var(--lilac);

      font-family: Manrope;
      font-size: 18px;
      font-weight: 400;
      line-height: 130%;

      text-decoration: none;

      z-index: 1;
      transition: 0.2s ease;

      &.is-active {
        font-weight: 700;
        color: var(--white);
      }
      &.is-hovered {
        color: var(--white);
      }

      &.is-active.is-dimmed {
        color: var(--lilac);
        font-weight: 700;
      }
    }
  }
}

.hover-marker {
  position: absolute;
  top: 12px;
  left: 0;
  height: 37px;
  background-color: var(--lilac);
  border-radius: 8px;
  z-index: 10;
  transition: all 0.3s ease;
  width: 0;
  opacity: 0;
}

.noise {
  transform-style: inherit;
  will-change: transform;
  &:after {
    overflow: hidden;
    transform-style: inherit;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    z-index: 2;
    width: 100%;
    height: 100%;
    background-image: url("../images/noiseTexture.png");
    background-repeat: repeat;

    transform-style: inherit;
    will-change: transform;
  }

  &.s16px {
    &:after {
      border-radius: 16px;
    }
  }
}

.frame {
  position: relative;
  width: 400px;
  height: 300px;
  background: var(--purpleGr);
}

.firstScreen {
  overflow: visible;
  margin-top: 76px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 52px;
  width: 100%;
  max-width: 1384px;

  h1 {
    width: 100%;
    padding-top: 6px;
    text-align: center;

    /* background: var(
      --purpleGrRotated,
      linear-gradient(99deg, rgba(94, 58, 221, 0) -9.58%, #714bf8 88.63%)
    ); */

    background: linear-gradient(99deg, #c9baff -9.86%, #6b46eb 88.79%);

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    max-width: 522px;
    text-align: center;
    color: var(--purpleItems);
  }
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;

  &.purple {
    background-color: var(--purple);
    /* height: auto; */
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  &.firstScreenSec {
    align-items: center;
  }
}

.arrowWrap {
  /* margin-top: 2px; */

  position: relative;
  width: 54px;
  margin-left: -18px;
  margin-right: -18px;
  height: 15px;
  overflow: hidden;

  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 30%,
    black 70%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 30%,
    black 70%,
    transparent 100%
  );
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

.arrow {
  position: absolute;
  top: 0;
  left: 18px;
  width: 18px;
  transition: transform 0.3s ease;
}

.arrow1 {
  transform: translateX(0);
  z-index: 1;
}

.arrow2 {
  transform: translateX(-200%);
  z-index: 0;
}

.lightCircle {
  position: absolute;
  aspect-ratio: 1;
  opacity: 1;
  z-index: 0;

  border-radius: 9999px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #8d82ff 13.46%,
    rgba(141, 130, 255, 0) 100%
  );

  &.cl05 {
    top: 550px;
    width: 633px;
    transform: translateX(-900px) scale(1, -1) rotate(186deg);
  }

  &.cl06 {
    top: 310px;
    width: 566px;
    transform: translateX(clamp(786px, 35.625vw, 684px)) rotate(5deg);
  }

  &.cl07 {
    width: 566px;
    top: 1220px;
    transform: translateX(310px) scale(1, -1) rotate(-150deg);
  }

  &.cl08 {
    top: 1740px;
    width: 374px;
    transform: translateX(-1000px) rotate(-22deg);
  }

  &.cl09 {
    top: 176px;
    width: 374px;
    transform: translateX(-472px) rotate(17deg);
  }

  &.cl10 {
    top: 86px;
    width: 584px;
    transform: translateX(710px) scale(1, -1) rotate(165deg);
  }

  &.cl11 {
    top: 456px;
    width: 474px;
    transform: translateX(-822px) rotate(-3deg);
  }

  &.cl12 {
    top: 1010px;
    width: 345px;
    transform: translateX(280px) scale(1, -1) rotate(-175deg);
  }

  &.cl13 {
    bottom: 35px;
    width: 345px;
    transform: translateX(-380px) rotate(5deg);
  }
}

.logo3D {
  position: absolute;
  opacity: 0.1;
  z-index: -1;
  /* transition: transform 1s ease-out; */
  transform: none;

  &.animate-logo {
    transition: transform 1s ease-out;
  }

  &.l01 {
    top: 110px;
    width: 186px;
    height: 128px;
    transform: translateX(clamp(786px, 35.625vw, 684px)) rotate(5deg);
    /* transform: translateX(684px); */
    z-index: 0;
  }

  &.l02 {
    bottom: 57px;
    width: 494px;
    height: 340px;
    transform: translateX(961px) rotate(16deg);
  }

  &.l03 {
    top: -150px;
    width: 623px;
    height: 428px;
    /* transform: translateX(961px) rotate(16deg); */
    transform: translateX(-940px) scale(1, -1) rotate(158deg);
  }
  &.l04 {
    bottom: 148px;
    width: 360px;
    height: 248px;
    /* transform: translateX(961px) rotate(16deg); */
    transform: translateX(-840px) scale(1, -1) rotate(186deg);
  }

  &.l05 {
    top: 604px;
    width: 633px;
    height: 469px;
    transform: translateX(-1000px) scale(1, -1) rotate(186deg);
    z-index: 0;
  }

  &.l06 {
    top: 370px;
    width: 584px;
    height: 433px;
    transform: translateX(780px) rotate(5deg);
    z-index: 0;
  }

  &.l07 {
    top: 1220px;
    width: 584px;
    height: 433px;
    transform: translateX(310px) scale(1, -1) rotate(-150deg);
    z-index: 0;
  }

  &.l08 {
    top: 1770px;
    width: 374px;
    height: 276px;
    transform: translateX(-1000px) rotate(-22deg);
    z-index: 0;
  }

  &.l09 {
    top: 176px;
    width: 374px;
    height: 276px;
    transform: translateX(-472px) rotate(17deg);
    z-index: 0;
  }

  &.l10 {
    top: 86px;
    width: 584px;
    height: 433px;
    transform: translateX(710px) scale(1, -1) rotate(165deg);
    z-index: 1;
  }

  &.l11 {
    top: 556px;
    width: 474px;
    height: 351px;
    transform: translateX(-822px) rotate(-3deg);
    z-index: 0;
  }

  &.l12 {
    top: 1010px;
    width: 345px;
    height: 256px;
    transform: translateX(280px) scale(1, -1) rotate(-175deg);
    z-index: 0;
  }

  &.l13 {
    bottom: 35px;
    width: 345px;
    height: 256px;
    transform: translateX(-380px) rotate(5deg);
    z-index: 0;
  }
}

nav ul a.invert-color {
  color: white !important;
}

.emojiMarquee {
  width: 66px;
  aspect-ratio: 1;
  object-fit: contain;
  filter: drop-shadow(0px 16px 31.3px rgba(63, 29, 255, 0.5));
}

.marqueeBlock {
  margin-top: 84px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.marqueeInner {
  display: flex;
  width: max-content;
  will-change: transform;
  gap: 32px;
  h2 {
    color: white;
  }
}

.marquee {
  display: flex;
  gap: 32px;
  flex-shrink: 0;
  white-space: nowrap;
}

.services {
  position: relative;
  margin-top: 176px;
  color: var(--white);
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

  h3 {
    line-height: 113%;
  }
}

.cardsWrap {
  z-index: 2;
  perspective: 1500px;
  padding: 0px 128px;
  height: 426px;
  position: relative;
  width: 100%;
  max-width: 1920px;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 90px;
  margin-bottom: 160px;
}

.overlay {
  transition: transform 0.2s ease;
  transform-style: preserve-3d;
  height: 100%;
  position: relative;
  max-width: 542px;
  width: 100%;
  box-shadow: var(--shadowHigh);
  border-radius: 16px;
  background-color: var(--purplePlateBG);
  .card {
    background: none;
    z-index: 4;
  }

  &.noise {
    &::after {
      transform-style: preserve-3d;
    }
  }
}

.card {
  box-sizing: border-box;

  height: 100%;

  position: relative;

  background-color: var(--purplePlateBG);
  background: var(--purplePlateBG);
  border-radius: var(--roundCorners16px);
  border: var(--stroke1px);
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* overflow: hidden; */
  --x: -9999px;
  --y: -9999px;
  transform-style: preserve-3d;
}

.ono::after {
  transform-style: preserve-3d;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: radial-gradient(
    300px circle at var(--x, -9999px) var(--y, -9999px),
    rgba(255, 255, 255, 0.35),
    transparent 70%
  );
  border-radius: inherit;
  z-index: 0;
}

.card.glow-active::after {
  opacity: 1;
}

.cardIcon {
  z-index: 99999;
  position: absolute;
  width: 136px;
  aspect-ratio: 1;
  background-color: var(--purpleItems);
  border-radius: var(--roundCorners24px);
  border: var(--stroke2px);
  box-shadow: var(--shadowHigh);

  &.c01 {
    top: -10px;
    right: 16px;
    transform: rotate(-13.27deg);
  }

  &.c02 {
    top: -20px;
    right: 34px;
    transform: rotate(15.07deg);
  }

  &.c03 {
    top: -22px;
    right: -7px;
    transform: rotate(-18.51deg);
  }
}

.cardIconImg {
  position: absolute;
  filter: drop-shadow(0px 16px 31.3px rgba(63, 29, 255, 0.25));

  &.cI01 {
    width: 132px;
    height: 140px;
    top: -16px;
    right: -35px;
    transform: rotate(13.27deg);
  }

  &.cI02 {
    width: 166px;
    height: 164px;
    top: 10px;
    right: 0px;
    transform: rotate(-24deg);
  }

  &.cI03 {
    width: 178px;
    height: 178px;
    top: -23px;
    right: -56px;
    transform: rotate(26deg);
  }
}

.TagsWrap {
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
  z-index: 3;
}

.Tag {
  z-index: 3;
  padding: 10px 25px;
  background-color: var(--purpleItems);
  border: var(--stroke1pxStrong);
  border-radius: var(--roundCorners8px);

  font-size: 18px;
  font-weight: 500;
  line-height: 130%;
  font-family: "Manrope";
}

.cursor-glow {
  position: absolute;
  width: 400px;
  height: 400px;
  pointer-events: none;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.2) 0%,
    transparent 60%
  );
  transform: translate(-50%, -50%);
  z-index: 0; /* будет под .overlay, но поверх фона */
  mix-blend-mode: lighten;
}

.how {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 980px;
}

.howBlock {
  padding: 0px 128px;
  position: relative;
  margin-top: 90px;
  margin-bottom: 160px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1920px;
  gap: 80px;
}

.leftSide {
  width: 100%;
  max-width: 886px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.rightSide {
  width: 100%;
  max-width: 542px;
  background-color: var(--purplePlateBG);
  border: var(--stroke1px);
  border-radius: var(--roundCorners16px);
  padding: 32px;
  height: 636px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.typeWriterWrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 14px 25px 14px 30px;
  background: rgba(110, 89, 226, 0.7);
  border: var(--stroke1px);
  border-radius: var(--roundCorners8px);
  box-shadow: 0px 8px 22px 0px rgba(94, 58, 221, 0.25);
}

/* .typeWriter::after {
  content: "|";
  animation: blinkCursor 1s infinite;
  margin-left: 4px;
} */

/* .step {
  cursor: pointer;
  width: 100%;
  opacity: 0.5;
  transition: opacity 0.1s ease;

  overflow: hidden;
  max-height: 0;
  opacity: 0.5;
  padding: 0 42px;
  transition: max-height 0.5s ease, padding 0.5s ease, opacity 0.3s ease;

  p,
  .timer,
  button {
    display: none;
  }

  &:hover {
    opacity: 1;
  }
} */

/* .step.active {
  padding: 32px;

  cursor: auto;

  background-color: var(--purplePlateBG);
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px;
  border: var(--stroke1px);
  border-radius: var(--roundCorners16px);
  opacity: 1;

  p,
  .timer,
  button {
    display: flex;
  }
} */

.step {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s ease;
  padding-left: 32px;

  &:hover {
    opacity: 1;
  }
}

.stepContent {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease, padding 0.3s ease;
  padding: 0;
}

.step.active {
  padding: 32px;
  background-color: var(--purplePlateBG);
  border: var(--stroke1px);
  border-radius: var(--roundCorners16px);
  display: flex;
  flex-direction: column;
  opacity: 1;
}

.step.active .stepContent {
  max-height: 800px; /* или больше, если нужно */
  opacity: 1;
  padding-top: 24px;
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.timer {
  width: 100%;
  height: 2px;
  background-color: #9e95fb;
  z-index: 1;

  &::after {
    content: "";
    display: block;
    width: 0%;
    height: 3px;
    background-color: var(--pink);
    z-index: 2;
  }
}

.timer.animate-timer::after {
  animation: progressBar 4.8s linear forwards;
}

@keyframes progressBar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.stepHeaderText {
  display: flex;
  gap: 12px;
}

.ms01 {
  --base-transform: rotate(1.7deg);
  right: -26px;
  top: 29px;
  width: 430px;
}

.ms02 {
  --base-transform: rotate(-3.72deg);
  left: -32px;
  top: 128px;
  width: 298px;
}

.ms03 {
  --base-transform: rotate(-5.1deg);
  top: 200px;
  right: 25px;
  width: 265px;
}

.ms04 {
  --base-transform: rotate(3.42deg);
  top: 0px;
  right: 0px;
  width: 319px;
}

.ms05 {
  --base-transform: rotate(2.73deg);
  top: 450px;
  right: -34px;
  width: 260px;
}

.msgBig {
  --base-transform: rotate(3.42deg);
  top: 302px;
  left: -28px;
  width: 356px;
}

.emojiMsg {
  position: absolute;
  --base-transform: rotate(11deg);
  width: 76px;
  right: -30px;
  bottom: -125px;
}

.msg,
.msgBig,
.msgBig .ms04,
.emojiMsg {
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  --ty: 40px;
}

@keyframes stampIn {
  0% {
    transform: var(--base-transform) translateY(-80px) scale(1.5) rotate(20deg);
    opacity: 0;
  }
  60% {
    transform: var(--base-transform) translateY(10px) scale(0.95);
    opacity: 1;
  }
  80% {
    transform: var(--base-transform) translateY(-4px) scale(1.02);
  }
  100% {
    transform: var(--base-transform) translateY(0) scale(1);
  }
}

.msg {
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;

  filter: drop-shadow(0px 16px 31.3px rgba(63, 29, 255, 0.25));
  position: absolute;
}

.msg.visible,
.msgBig.visible,
.msgBig .ms04.visible,
.emojiMsg.visible {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  animation: stampIn 0.4s ease-out forwards;
}

.msgBig {
  position: absolute;
  transform: rotate(3.42deg);
  top: 302px;
  left: -28px;
  width: 356px;
}

.typeWriter {
  text-decoration: none;
}

.typeWriter,
.typeWriter:hover,
.typeWriter:focus {
  text-decoration: none;
}

a .typeWriter {
  text-decoration: none !important;
}

a.typeWriterLink .typeWriter {
  text-decoration: none !important;
}

.typeWriterWrap,
.typeWriterLink,
.typeWriterLink *,
.typeWriterLink:visited,
.typeWriterLink:focus,
.typeWriterLink:hover {
  text-decoration: none !important;
  z-index: 3;
}

@keyframes shakePop {
  0% {
    transform: scale(1) rotate(0deg);
  }
  20% {
    transform: scale(2) rotate(20deg);
  }
  40% {
    transform: scale(1.1) rotate(-20deg);
  }
  60% {
    transform: scale(1.12) rotate(2deg);
  }
  80% {
    transform: scale(1.05) rotate(-2deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

.typeWriterIcon.animate-icon {
  animation: shakePop 1.2s ease forwards;
  animation-delay: 2.6s;
}

.typeWriter {
  position: relative;
  font-size: 24px;
  font-weight: 500;
  line-height: 130%;
  font-family: "Manrope";
  color: #b9aff4;
  display: inline-block;
}

.typeWriterWrap.active .typeWriter {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

.typeWriterWrap .typeWriter {
  color: #b9aff4; /* обычный светло-фиолетовый */
}

.typeWriterWrap.help .typeWriter {
  color: white;
}

.realText {
  visibility: visible;
}

.animatedText {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  color: inherit;
}

.typing .realText {
  visibility: hidden;
}

.typing .animatedText {
  animation: typingEffect 10.1s steps(24) forwards;
  width: 100%; /* animate to this */
}

@keyframes typingEffect {
  from {
    width: 0;
  }
  to {
    width: 100%; /* длина фразы */
  }
}

.blinkingCursor {
  display: inline-block;
  margin-left: 4px;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

section.archSec {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  min-height: 1034px;

  h2 {
    top: 176px;
    position: absolute;

    background: var(
      ----purpleGr,
      linear-gradient(103deg, #ded6f9 -55.46%, #5e3add 91.06%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h3 {
    background: var(
      ----purpleGr,
      linear-gradient(103deg, #ded6f9 -55.46%, #5e3add 91.06%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    color: #968cfd;
  }

  .cardIcon {
    position: absolute;
    animation: circle 10s linear infinite;
    bottom: -2380px;
    box-shadow: -16px 0px 32px 0px rgba(63, 29, 255, 0.25);
    &.cir01 {
      transform: rotate(-90deg) translate(2800px);
    }

    &.cir02 {
      transform: rotate(-98.5deg) translate(2800px) scale(0.7);
      background-color: #cac3ff;
    }

    &.cir03 {
      transform: rotate(-105deg) translate(2800px) scale(0.5);
      background-color: #e1ddff;
    }

    &.cir04 {
      transform: rotate(-81.5deg) translate(2800px) scale(0.7);
      background-color: #cac3ff;
    }

    &.cir05 {
      transform: rotate(-75deg) translate(2800px) scale(0.5);
      background-color: #e1ddff;
    }

    &.cir06 {
      transform: rotate(-68deg) translate(2800px) scale(0.5);
      background-color: #e1ddff;
    }

    &.cir07 {
      transform: rotate(-60deg) translate(2800px) scale(0.5);
    }

    &.cir08 {
      transform: rotate(-52deg) translate(2800px) scale(0.5);
      background-color: #cac3ff;
    }

    &.cir09 {
      transform: rotate(-44deg) translate(2800px) scale(0.5);
      background-color: #e1ddff;
    }

    &.cir10 {
      transform: rotate(-36deg) translate(2800px) scale(0.5);
      background-color: #cac3ff;
    }

    &.cir11 {
      transform: rotate(-28deg) translate(2800px) scale(0.5);
      background-color: #e1ddff;
    }

    &.cir12 {
      transform: rotate(-20deg) translate(2800px) scale(0.5);
      background-color: #e1ddff;
    }
  }
}

.whiteTrans {
  user-select: none;
  pointer-events: none;
  bottom: 50px;
  position: absolute;
  right: 0;
  width: 800px;
  height: 588px;
  background: linear-gradient(270deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 2;
}

.archSec {
  .cardIcon {
    z-index: 1;
  }
}

section.archSec {
  h2 {
    text-align: center;
  }
}

.sliderArrowsWrap {
  z-index: 3;
}

.archDesc {
  z-index: 3;
}

.prupleTrans {
  bottom: 100px;
  position: absolute;
  right: 0;
  width: 400px;
  height: 900px;
  z-index: 9999999;
  background: linear-gradient(270deg, #7a62fd 10%, rgba(122, 98, 253, 0) 100%);
}

.leftTrans {
  left: 0;
  transform: rotate(180deg);
}

.arch {
  width: 1920px;
  position: absolute;
  bottom: 82px;
}

.archDesc {
  position: absolute;
  gap: 16px;
  bottom: 186px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 624px;
  text-align: center;
}

.sliderArrowsWrap {
  position: absolute;
  bottom: 90px;
  display: flex;
  gap: 12px;
}

.arrowGr {
  background: white;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0px 16px 31.3px rgba(63, 29, 255, 0.25);
  width: 40px;
  aspect-ratio: 1;
  padding: 12px 10px;
}

.prev {
  transform: rotate(-180deg);
}

/* @keyframes circle {
  0% {
    transform: rotate(0deg) translate(2800px);
  }
  100% {
    transform: rotate(360deg) translate(2800px);
  }
} */

.carouselPic {
  position: absolute;
  filter: drop-shadow(0px 16px 31.3px rgba(63, 29, 255, 0.25));

  &.msk01 {
    top: 10px;
    left: 40px;
    width: 134px;
    height: 174px;
    transform: rotate(85deg);
  }

  &.msk02 {
    top: 10px;
    left: 40px;
    width: 136px;
    height: 166px;
    transform: rotate(98deg);
  }

  &.msk03 {
    top: 14px;
    left: 44px;
    width: 124px;
    height: 154px;
    transform: rotate(93deg);
  }

  &.msk04 {
    top: 16px;
    left: 36px;
    width: 118px;
    height: 148px;
    transform: rotate(90deg);
  }

  &.msk05 {
    top: 16px;
    left: 36px;
    width: 132px;
    height: 141px;
    transform: rotate(90deg);
  }

  &.msk06 {
    top: 32px;
    left: 26px;
    width: 148px;
    height: 132px;
    transform: rotate(90deg);
  }
}

section.purple.second {
  h1 {
    color: white;
  }
  h2 {
    margin-top: 176px;
    z-index: 2;
  }

  .cardsWrap {
    margin-bottom: 0px;
  }
}

.infinite {
  width: 138px;
  padding: 36px 0px;
}

.avatarPic {
  border-radius: 99999px;
  width: 74px;
  aspect-ratio: 1;
}

.reviewHeader {
  display: flex;
  gap: 16px;

  p {
    color: #b6affc;
  }
}

.marqueeCardsOutie {
  gap: 20px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 150px;
  margin-top: 90px;

  overflow: hidden;
  position: relative;

  filter: drop-shadow(0px 16px 31.3px rgba(63, 29, 255, 0.25));
}

.marqueeCards .overlay {
  margin-right: 20px; /* ✅ перенесённый отступ */
}

.marqueeCards {
  display: flex;
  width: max-content;
  animation: scroll 160s linear infinite;

  height: 362px;
  perspective: 1500px;
  position: relative;
  display: flex;
  margin-top: 90px;
  margin-bottom: 160px;
  flex-shrink: 0;
  will-change: transform;

  p.small {
    padding-right: 104px;
    font-weight: 500;
    line-height: 140%;
  }

  .card {
    width: 542px;
  }

  /* &:hover {
    animation-play-state: paused;
  } */
}

.Right {
  animation: scrollRight 160s linear infinite;
}

section.purple.second {
  .marqueeCards {
    margin: 0;

    &:nth-child(1) {
      margin-top: 90px;
    }
    &:nth-child(2) {
      margin-top: 20px;
      margin-bottom: 172px;
    }
    .card {
      flex: 0 0 auto;
      width: 542px; /* или другая фиксированная ширина */
      margin-right: 20px; /* отступ между карточками */
      box-sizing: border-box;
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

section.forms {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.formsHeader {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 172px;
  align-items: center;

  h2 {
    text-align: center;
    background: var(
      ----purpleGr,
      linear-gradient(103deg, #ded6f9 -55.46%, #5e3add 91.06%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  p {
    max-width: 522px;
    text-align: center;
    color: var(--purpleItems);
  }
}

.formsBG {
  width: calc(100% - 256px);
  max-width: 1664px;
  border-radius: 16px;
  height: fit-content;
  background: var(--purplePlateBG);
  margin-bottom: 154px;
  box-shadow: var(--shadowHigh);
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.footer {
  height: fit-content;
  display: flex;
  max-width: 1664px;
  width: calc(100% - 256px);
  justify-content: space-between;
  margin-bottom: 74px;

  p {
    font-weight: 700;
    background: var(
      --purpleGr,
      linear-gradient(103deg, #ded6f9 -55.46%, #5e3add 91.06%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  a {
    text-decoration: none;
  }
}

.footerLogo {
  width: 664px;
  height: 146px;
  margin-bottom: 4px;
}

.linkOutWrap {
  display: flex;
  gap: 6px;
  &:hover {
    opacity: 0.5;
  }
}

.footerContactsWrap {
  display: flex;
  align-items: flex-end;
  gap: 90px;
}

.linkOut {
  height: 100%;
  padding-top: 8px;
}

#garantee {
  scroll-margin-top: -180px; /* подстрой под высоту своего хедера */
}

.rolling {
  display: inline-flex;
  overflow: hidden;
  height: 1em;
}

.rolling span {
  display: inline-block;
  height: 1em;
  line-height: 1em;
  vertical-align: top;
  position: relative;
}

.rolling-img {
  height: 138px;
  width: 138px;
  overflow: hidden;
  display: inline-block;
  position: relative;
}

.rolling-img span {
  display: block;
  transition: transform 0.8s ease;
}

.footerCase {
  top: 50%;
  left: 51%;
  position: absolute;
  transform: translateX(-50%) translateY(-50%) rotate(10deg);
  border-radius: 36px;
  width: 200px;
  aspect-ratio: 1;
  background-color: var(--purpleItems);
  border: 3px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0px 23.418px 45.812px 0px rgba(63, 29, 255, 0.25);
}

.or {
  position: absolute;
  color: #fff;
  text-align: center;
  text-shadow: 0px 10px 25px rgba(63, 29, 255, 0.25);
  font-family: "Manrope";
  font-size: 150px;
  font-style: normal;
  font-weight: 800;
  line-height: 130%;

  top: 50%;
  left: 50%;
  transform: translateX(-52%) translateY(-62%) rotate(-18deg);
  user-select: none;
}

a.button {
  min-width: 264px;
  text-decoration: none;
  color: var(--white);
  cursor: pointer;

  overflow: hidden;
  position: relative;

  width: fit-content;
  display: flex;
  gap: 20px;
  background-size: 100%;

  border: none;

  background-image: var(--purpleGr);
  background-position: center;
  border-radius: var(--roundCorners8px);

  transition: 1s background-position;

  justify-content: center;
  align-items: center;
  padding: 14px 35px 14px 40px;

  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  font-family: "Manrope";

  box-shadow: 0px 8px 22px 0px rgba(94, 58, 221, 0.25);

  transition: 0.2s ease-in-out;

  &:hover {
    transform: scale(0.97);
    box-shadow: 0px 12px 40px 0px rgba(94, 58, 221, 0.5);
    background-size: 200%;
    background-position: right;
  }

  &::before {
    background-image: var(--purpleGrBack);
    transition: 0.2s;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    content: "";
    z-index: 1;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    content: "";
    z-index: 1;
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.5);
    box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.5);
  }
}

.formInputWrap {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 26px;
  width: 100%;

  &.Short {
    max-width: 258px;
    margin-top: 0;
  }
}

label {
  font-size: 14px;
  font-weight: 600;
  line-height: 130%;
  font-family: "Manrope";
  color: var(--white);
}

.formsWindow {
  width: 100%;
}

input {
  filter: drop-shadow(0px 16px 31.3px rgba(63, 29, 255, 0.25));

  flex-shrink: 0;
  width: 100%;
  box-shadow: 0px 5.64px 15.511px 0px rgba(94, 58, 221, 0.25);

  all: unset;
  background-color: var(--white);
  border-radius: 6px;
  height: 22px;
  padding: 14px 20px;

  font-size: 14px;
  font-weight: 600;
  line-height: 130%;
  font-family: "Manrope";
  color: #704eea;

  &::placeholder {
    color: #cdc5f5;
  }

  &:focus {
    border: 2px solid #704eea;
    padding: 12px 18px;
  }
}

textarea {
  all: unset;
  background-color: var(--white);
  border-radius: 6px;
  height: 72px;
  padding: 14px 20px;

  font-size: 14px;
  font-weight: 600;
  line-height: 130%;
  font-family: "Manrope";
  color: #704eea;
  box-shadow: 0px 5.64px 15.511px 0px rgba(94, 58, 221, 0.25);

  &::placeholder {
    color: #cdc5f5;
  }

  &:focus {
    border: 2px solid #704eea;
    padding: 12px 18px;
  }
}

.fromsWrapRow {
  display: flex;
  gap: 26px;
  width: 100%;
}

select {
  all: unset;
  background-color: var(--white);
  border-radius: 6px;
  height: 22px;
  padding: 12px 20px;
  padding-top: 16px;

  font-size: 14px;
  font-weight: 600;
  line-height: 130%;
  font-family: "Manrope";
  color: #704eea;
}

.formsWrap {
  margin-bottom: 44px;
  filter: drop-shadow(0px 8px 16.3px rgba(63, 29, 255, 0.25));
}

.date-time {
  position: relative;
  &::after {
    content: "";
    width: 28px;
    aspect-ratio: 1;
    background-image: url("../images/svg/dateCalendarIcon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 15px;
    top: 10px;
    pointer-events: none;
    cursor: pointer;
  }

  &:focus {
    &::after {
      right: 13px;
      top: 8px;
    }
  }
}

.upload {
  transition: 0.05s;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  height: 100px;
  background-color: #7562ea;
  border-radius: 6px;
  border: 2px dashed rgba(255, 255, 255, 0.7);

  font-size: 14px;
  font-weight: 600;
  line-height: 130%;
  font-family: "Manrope";
  color: var(--white);
  div,
  img {
    transition: 0.05s;
    opacity: 0.7;
    text-align: center;
  }

  &:hover {
    border: 2px dashed rgba(255, 255, 255, 1);
    div,
    img {
      opacity: 1;
    }
  }

  input {
    display: none;
  }
}

.upload.dragover {
  background-color: var(--purplePlateBG);
  border: 2px dashed rgba(255, 255, 255, 1);
  div,
  img {
    opacity: 1;
  }
}

.dropDown {
  position: relative;
  &::after {
    content: "";
    width: 28px;
    aspect-ratio: 1;
    background-image: url("../images/svg/dropDownArrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 15px;
    bottom: 10px;
    pointer-events: none;
    cursor: pointer;
    z-index: 9999999999999999;
  }
}

#submit {
  margin-top: 44px;
}

label {
  span {
    color: #fd8c8e;
  }
}

.formWrapType {
  width: 100%;
}

#formUpload {
  width: 100%;
  max-width: 542px;
}

.numberInput {
  display: flex;
  position: relative;
  box-sizing: border-box;
  width: 100%;

  input {
    width: 100%;
  }

  button {
    all: unset;
    cursor: pointer;
    position: absolute;
    width: 28px;
    aspect-ratio: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    &#increase {
      top: 11px;
      right: 16px;
      background-image: url("../images/svg/iconPlus.svg");
    }

    &#decrease {
      top: 11px;
      right: 54px;
      background-image: url("../images/svg/iconMinus.svg");
    }

    &::after {
      all: unset;
    }

    &::before {
      all: unset;
    }
  }
}

.radio-group {
  margin-top: 6px;
  display: flex;
  gap: 26px;
  label.radio {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
  }

  input {
    all: unset;
    width: 20px;
    height: 20px;
    border-radius: 999999px;
    stroke-width: 2.115px;
    border: 2px solid var(--white);
    position: relative;
  }

  input[type="radio"]:checked {
    &::after {
      display: flex;
      position: absolute;
      z-index: 9999;
      content: "";
      background-color: var(--white);
      top: 3px;
      left: 3px;
      width: 14px;
      height: 14px;
      border-radius: 999999px;
    }
  }
}

.loader {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  display: flex;
  z-index: 999999999999999999999;
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100dvh;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  backdrop-filter: blur(4px);

  .circle {
    width: 100px;
    height: 100px;
    border: 8px solid rgba(0, 0, 0, 0); /* светлая обводка */
    border-top-color: #fff; /* активный цвет */
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    margin: 0 auto;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loader.active {
  opacity: 1;
  visibility: visible;
}

.flight-path {
  position: absolute;
  top: -90px;
  left: -124px;
  z-index: -1;
  width: 56;
  height: 409px;
}

.tgModal {
  position: relative;
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
  max-width: 360px;
  padding: 32px;
  gap: 30px;
  border-radius: var(--roundCorners16px);
  background-color: var(--white);
  p {
    color: #968cfd;
  }
}

.tgModalWrap {
  position: relative;
  margin-right: 88px;
}

.plane {
  filter: drop-shadow(0px 16px 31.3px rgba(63, 29, 255, 0.55));
  z-index: -1;
  top: -90px;
  left: -124px;
  width: 98px;
  height: 90px;
  position: absolute;
  offset-path: path(
    "M444.17 186.419C592.183 208.409 577.69 349.347 477.174 392.827C376.658 436.308 244.143 373.336 244.143 290.872C244.143 208.409 349.521 180.683 353.656 290.872C357.79 401.061 181.139 412.819 96.1268 369.338C11.1151 325.857 -90.1063 149.935 159.921 2"
  );
  offset-rotate: auto;
  opacity: 0;
  transform: scale(0) rotate(30deg);
  offset-distance: 0%;
  transition: opacity 0.3s ease, transform 0.3s ease-out,
    offset-distance 3.9s ease;
}

#maskPath {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  visibility: hidden; /* <--- скрыт до старта */
}

a.button:hover .arrow1,
button:hover .arrow1 {
  transform: translateX(200%);
}

a.button:hover .arrow2,
button:hover .arrow2 {
  transform: translateX(0);
}

section.results {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: auto;
}

nav a.invert-color {
  color: #9f75ff !important;
}

nav a.marker-visible {
  color: white !important;
}

.mobileShow {
  display: none;
}

section.purple.second {
  & .marqueeCardsOutie {
    .overlay {
      box-shadow: none;
    }
  }
}

.card {
  h3 {
    padding-right: 140px;
  }
}

.Tag {
  vertical-align: middle;
}

.cardsWrap {
  .overlay:nth-child(3) {
    .card {
      padding-right: 3.5vw;
    }
  }
}

section.results {
  overflow: visible;
}

.reviewHeaderTextWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  h3 {
    padding-right: 0px;
  }
}

.startPurple {
  margin-top: 176px;
  text-align: center;
}

.h1_flexWrap {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  flex-wrap: wrap;

  .h1_flex:nth-child(2) {
    margin-left: 24px;
    margin-right: 24px;
  }
}

.wrapBtns {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  padding: 0px 16px;
}

.files-list p {
  white-space: nowrap; /* Запретить перенос строк */
  overflow: hidden; /* Скрыть выходящий за пределы текст */
  text-overflow: ellipsis; /* Добавить троеточие */
  max-width: 100%; /* Ограничить ширину контейнера */
  display: block; /* На всякий случай */
}

.upload {
  div {
    white-space: nowrap; /* Запретить перенос строк */
    overflow: hidden; /* Скрыть выходящий за пределы текст */
    text-overflow: ellipsis; /* Добавить троеточие */
    max-width: 90%; /* Ограничить ширину контейнера */
    display: block; /* На всякий случай */
  }
}
